.background    { background: rgb(52, 166, 251);
  background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/129705638/original/0290341fdcd123d780ef2aca865741c2cbf48d52/draw-pixel-art-background.png);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url(../../photos/lava.png); }
.wall          { background-image: url(../../photos/block.png);   }

.actor  { position: absolute;  }
.coin {
  position: absolute;
  background-image: url(../../photos/retro_coin.png);
}
.player { background-image: url(../../photos/character.png); }

@media screen and (min-width: 1024px) {
  img {
    width: 90px;
  }
}

.game {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
