.background    { background: rgb(52, 166, 251);
  background-image: url(../../photos/fondo.png);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url(../../photos/lava.png); }
.wall          { background-image: url(../../photos/obsidian.png);   }

.actor  { position: absolute;  }
.coin {
  position: absolute;
  background-image: url(../../photos/retro_coin.png);
}
.player { background-image: url(../../photos/character48.png);
 }

@media screen and (min-width: 1024px) {
  img {
    width: 90px;
  }
}
.monster{
  background: purple;
}

.game {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.lost .player {
  background-image: url(../../photos/burncharacter48.png);
}
.won .player {
  box-shadow: -4px -7px 8px rgb(110, 241, 138), 4px -7px 8px rgb(58, 133, 51);
  border-radius: 50%;
}

html{
  background-color:#476aa0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding:1vw;
}

.clearfix:before,
.clearfix:after{
  content:" ";
  display: table;
}

.clearfix:after{
  clear:both;
}

h1{
  color:white;
  margin:30px auto;
  width:50%;
  text-align:center;
  padding:20px;
  text-transform:uppercase;
  font-size:3vw;
  letter-spacing:5px;
  border-top:1px solid;
  border-bottom:1px solid;
}

.buttonBox{
  position:relative;
  float:left;
  width:15%;
}

button{
  width:100%;
  position:relative;
  background:rgba(255, 255, 255, .27);
  text-transform:uppercase;
  color:white;
  font-weight:500;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

#first:hover .border{
  width:100%;
  height:100%;
}